<!DOCTYPE html>
 
<html lang="en">
 
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/style.css">
    <link href="images/favicon.ico" rel="shortcut icon">
    <title>First Blog</title>
</head>
 
<body>
 
<div class="container">
    <h1>First Blog</h1>
    <hr />
    {% for posts in posts %}
    	<div class="post">
    	<h2>{{ posts.title }}</h2>
    	<h3>Posted on {{ posts.timestamp }} by {{ posts.author }}</h3>
    	<p>{{ posts.bodytext }}</p>
    </div>
    <hr />
 	{% endfor %}
</div>
 
</body>
     
</html>